@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Empréstimos online</h1>
<p>Bem vindo ao site de gerenciamento de empréstimos de livro!</p>
<div>
    <img src="/img/book.png" width="500px"></img>
</div>
</div>
